<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/1-b-mm.css">
    <title>SISRAM</title>

    <style>
        body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0; 
    }
    header{
      background-color: rgb(53, 53, 255);
    }
    h1{
      color: white;
      background-color: rgb(53, 53, 255);
      text-align: center;
      font-size: 70px;
    }
    section{
      align-items: center;
      text-align: center;
    }
</style>

</head>
<body>
    <h3>Lista do 1°B-MM</h3>
    <li>Kirlo</li>
    <li>Hunyrt</li><br>
    <br><a href="/justificar" >continuar</a><br> 

    <footer>
        <div class="links">
            <div id="cont">
             <button href="/login">Continuar</button>
            </div>
            <div id="volt">
              <button href="/">Voltar</button>
            </div>
      </footer>

</body>
</html>