<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/criarconta_a.css">
  <title>SISRAM</title>
  <link rel="stylesheet" href="style.css">

<style>
  input{
    font: normal 20px arial;
    border-color: rgb(53, 53, 255);
    margin: 8px;
    border-radius: 5px;
  }
  body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
  }
  .dados{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza os inputs verticalmente no container */
    align-items: center;     /* Centraliza os inputs horizontalmente no container */
    gap: 1px;  
  }
  .links{
    font: normal 25px arial;
    color: white;
    display: flex;
    justify-content: center; /* Centraliza as divs horizontalmente */
    gap: 200px;
  }
  button{
    font: normal 25px;
    background-color: white;
    border: 5px solid rgb(53, 53, 255);
    padding: 20px;                         /* Espaço interno da div */
    margin: 30px;
    border-radius: 8px;
  }
  header{
    background-color: rgb(53, 53, 255);
  }
  h1{
    color: white;
    background-color: rgb(53, 53, 255);
    text-align: center;
    font-size: 70px;
  }
</style>

</head>
<body>
  <header>
    <img src="" alt="imgescola">
    <h1 class="title">SISRAM</h1>
    <hr>
  </header>
  <section>
    <div class="dados">
      <input type="text" name="matrícula" placeholder="Matrícula" required>
      <br>
      <input type="text" name="escola" placeholder="Escola" required>
      <br>
      <input type="text" name="curso" placeholder="Curso" required>
      <br>
      <input type="text" name="turma" placeholder="Turma" required>
      <br>
      <input type="text" name="nome" placeholder="Nome do Aluno" required>
      <br>
      <input type="text" name="idade" placeholder="Idade" required>
      <br>
      <input type="email" name="email" placeholder="Email" required>
      <br>
      <input type="password" name="senha" placeholder="Senha" required>
      <br>
    </div>
  </section>
  <footer>
    <div class="links">
        <div id="cont">
          <a href="/login"><input type="button" value="Continuar"></a>
        </div>
        <div id="volt">
          <a href="/"><input type="button" value="Voltar"></a>
        </div>
    </div>
  </footer> 
</body>
</html>