<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/criarconta_p.css">
    <title>SISRAM</title>
    <link rel="stylesheet" href="style.css">
    <Style>
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0; 
      }
      header{
        background-color: rgb(53, 53, 255);
      }
      h1{
        color: white;
        background-color: rgb(53, 53, 255);
        text-align: center;
        font-size: 70px;
      }
      section{
        align-items: center;
        text-align: center;
      }
      
      
      
      
      </style>
</head>
<body>
    <h1>ETE-Ginásio Pernambucano</h1>
    <hr>
    <h2>Criar conta</h2>
    <p>Informe os dados abaixo</p>
    <div class="dados">
    Matrícula: <br><input type="text" name="matrícula professor" id=""><br>
    Nome: <br><input type="text" name="nome professor" id=""><br>
    Email: <br><input type="email" name="email professor" id=""><br>
    Senha: <br><input type="password" name="senha professor" id=""><br>
    </div>
    <br>
    <br>
    <a href="/loginprof" >contuar</a><br>
    <br><a href="/" >Voltar</a><br>
    <script>
        window.alert("Criar Conta do Professor")
    </script>

<footer>
  <div class="links">
      <div id="cont">
        <a href="/login"><input type="button" value="Continuar"></a>
      </div>
      <div id="volt">
        <a href="/"><input type="button" value="Voltar"></a>
      </div>
  </div>
</footer> 

</body>
</html>