<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETE</title>

    <style>
        body{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0; 
        }
        header{
            background-color: rgb(53, 53, 255);
        }
        h1{
            color: white;
            background-color: rgb(53, 53, 255);
            text-align: center;
            font-size: 70px;
        }
        section{
            align-items: center;
            text-align: center;
        }
    </style>

</head>
<body>
    <h3>Escolha a Turma</h3><br><br>
    <select id="turmas" name="turmas">
        <optgroup label="1°ano">
            <option value="A-DS">1°A-DS</option>
            <option value="B-DS">1°B-DS</option>
            <option value="A-MM">1°A-MM</option>
            <option value="B-MM">1°B-MM</option>
        </optgroup>
    
    </select><br><br>
    <select id="turmas" name="turmas">
        <optgroup label="2°ano">
            <option value="A-DS">2°A-DS</option>
            <option value="B-DS">2°B-DS</option>
            <option value="A-MM">2°A-MM</option>
            <option value="B-MM">2°B-MM</option>
        </optgroup>
    </select><br><br>
    <select name="turmas" id="turmas">
        <optgroup label="3°ano">
            <option value="A-DS">3°A-DS</option>
            <option value="B-DS">3°B-DS</option>
            <option value="A-MM">3°A-MM</option>
            <option value="B-MM">3°B-MM</option>
        </optgroup>
    </select><br>
    <br><br><br>
    <br> <a href="/">sair</a><br>

    <footer>
        <div class="links">
            <div id="cont">
              <a href="/login"><input type="button" value="Continuar"></a>
            </div>
            <div id="volt">
              <a href="/"><input type="button" value="Voltar"></a>
            </div>
        </div>
      </footer> 
          
</body>
</html>
